.profile-photo  img{
    height:256px;
    width:256px;
    margin: auto;
    object-fit: cover;
    
}
.profile-photo{
    border-radius: 128px;
}
.logo img{
    height:256px;
    width:256px;
    margin: auto;
    object-fit: cover;
}
.section{
    margin-left: 25%;
    margin-right: 25%;
}

.content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    color:rgb(82, 82, 83);
}

