<ion-content>
    <div class="col-md-12 align-items-center pb-2">
        <img src="../../../assets/logos/leo_logo.png" class="mx-auto d-block header-logo mt-5 mb-2">
        <div>
            <h4 class="text-center mb-3">{{ contactData?.title }}</h4>
        </div>
        <div class="w-100 mb-4">
            <h5 class="text-center mb-0">Email us</h5>
            <div class="social-media text-left" *ngFor="let email of contactData?.emails">
                <a href="{{ 'mailto:'+email }}">
                    <i class="fa fa-envelope"></i>{{ email }}
                </a>
            </div>
        </div>
        <div class="w-100 mb-4">
            <h5 class="text-center">Reach us on social media</h5>
            <div class="social-media text-left" *ngFor="let media of contactData?.social_media">
                <a href="{{ media?.url }}">
                    <i class="{{ media?.icon_class }}"></i>{{ media?.url }}
                </a>
            </div>
        </div>
    </div>

    <ion-fab class="nav-buttons back-button" vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button color="light" size="small" (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
