<ion-content>
    <div class="col-md-12 align-items-center pb-2">
        <img src="../../../assets/logos/leo_logo.png" class="mx-auto d-block header-logo mt-5 mb-2">
        <div>
            <h4 class="text-center mb-3">{{ contactData?.title }}</h4>
        </div>
        <div class="w-100 mb-4">
            
            <h5 class="text-center mb-0 title">Email us</h5>
            <div class="social-media text-center" *ngFor="let email of contactData?.emails">
                <a href="{{ 'mailto:'+email }}">
                    <div>
                        <div class="mb-2">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div>
                            {{ email }}
                        </div>
                    </div>
                    
                </a>
            </div>
        </div>
        <div class="w-100 mb-4">
            <h5 class="text-center title">Reach us on Social Media</h5>
            <div class="social-media text-center" *ngFor="let media of contactData?.social_media">
                <a href="{{ media?.url }}">
                    <div>
                    <div><i class="{{ media?.icon_class }} mb-2"></i></div>
                    <div>{{ media?.url }}</div>
                </div>
                </a>
            </div>
        </div>
    </div>

    <ion-fab class="nav-buttons" vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button color="light" size="small" (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
