<ion-content [fullscreen]="true">
  <div class="header_home">
    <div class="w-100 pr-2 pl-2 mt-5 mb-2 header-top">
      <img class="mx-auto d-block" src="../../assets/tabs/headers/bio_data.png">
    </div>
    <div class="scrollable-content_home">
      <ion-grid>

        <ion-row>
          <ion-col>
            <div class="tile center ripple-parent district_governer_tile" [ngStyle]="{ 'background-image' : 'url(\'' + env.baseURL + '/' + messages?.imgBaseUrl + '/' + messages?.districtGovernor?.tile + '\')' }"
                 (click)="messages?.districtGovernor['imgBaseUrl'] = messages?.imgBaseUrl;navigateToDistrictGoverner(messages?.districtGovernor)">
              <div class="inner-tile ion-padding">
                <div class="designation font-weight-bold">{{messages?.districtGovernor.designation}}</div>
                <div class="tile-content right-align ">{{messages?.districtGovernor.name}} </div>
              </div>
            </div>
          </ion-col>

          <ion-col>
            <div class="tile center ripple-parent dp_tile" [ngStyle]="{ 'background-image' : 'url(\'' + env.baseURL + '/' + messages?.imgBaseUrl + '/' + messages?.districtPresident?.tile + '\')' }" (click)="messages?.districtPresident['imgBaseUrl'] = messages?.imgBaseUrl;navigateToDistrictPresident(messages?.districtPresident)">
              <div class="inner-tile ion-padding">
                <div class="designation font-weight-bold">{{messages?.districtPresident.designation}}</div>
                <div class="tile-content right-align ">{{messages?.districtPresident.name}} </div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="tile center ripple-parent mdp_tile" [ngStyle]="{ 'background-image' : 'url(\'' + env.baseURL + '/' + messages?.imgBaseUrl + '/' + messages?.MultipleDistrictPresident?.tile + '\')' }"
                 (click)="messages?.MultipleDistrictPresident['imgBaseUrl'] = messages?.imgBaseUrl;navigateToMultipleDistrictPresident(messages?.MultipleDistrictPresident)">
              <div class="inner-tile ion-padding">
                <div class="designation font-weight-bold">{{messages?.MultipleDistrictPresident.designation}}</div>
                <div class="tile-content right-align ">{{messages?.MultipleDistrictPresident.name}} </div>
              </div>
            </div>
          </ion-col>

          <ion-col>
            <div class="tile center ripple-parent immediate_past_dp_tile" [ngStyle]="{ 'background-image' : 'url(\'' + env.baseURL + '/' + messages?.imgBaseUrl + '/' + messages?.immediatePastDistrictPresident?.tile + '\')' }" (click)="messages?.immediatePastDistrictPresident['imgBaseUrl'] = messages?.imgBaseUrl;navigateToImmediatePasetDistrictPresident(messages?.immediatePastDistrictPresident)">
              <div class="inner-tile ion-padding">
                <div class="designation font-weight-bold">{{messages?.immediatePastDistrictPresident.designation}}</div>
                <div class="tile-content right-align ">{{messages?.immediatePastDistrictPresident.name}} </div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="tile center ripple-parent district_vp_tile" [ngStyle]="{ 'background-image' : 'url(\'' + env.baseURL + '/' + messages?.imgBaseUrl + '/' + messages?.districtVicePresident?.tile + '\')' }"
                 (click)="messages?.districtVicePresident['imgBaseUrl'] = messages?.imgBaseUrl;navigateToDistrictVicePresident(messages?.districtVicePresident)">
              <div class="inner-tile ion-padding">
                <div class="designation font-weight-bold">{{messages?.districtVicePresident.designation}}</div>
                <div class="tile-content right-align ">{{messages?.districtVicePresident.name}} </div>
              </div>
            </div>
          </ion-col>

          <ion-col>
            <div class="tile center ripple-parent district_chairman_tile" [ngStyle]="{ 'background-image' : 'url(\'' + env.baseURL + '/' + messages?.imgBaseUrl + '/' + messages?.districtChairman?.tile + '\')' }" (click)="messages?.districtChairman['imgBaseUrl'] = messages?.imgBaseUrl;navigateToDistrictChairman(messages?.districtChairman)">
              <div class="inner-tile ion-padding">
                <div class="designation font-weight-bold">{{messages?.districtChairman.designation}}</div>
                <div class="tile-content right-align ">{{messages?.districtChairman.name}} </div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="tile center ripple-parent guest_intro_tile" (click)="navigateToGuestIntro()">
              <div class="inner-tile ion-padding">
                <div class="tile-head font-weight-bold shadow-text">Guest Introductions</div>
              </div>
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </div>

</ion-content>
