<ion-content class="ion-padding-top ion-padding-bottom pb-3">

    <div class="mt-2 p-4">
        <img src="../../assets/logos/leo_logo.png" class="mx-auto d-block club-logo mb-1 mt-3">
        <h5 class="text-center">{{executiveDetails?.designationCategory}}</h5>
        <!-- <h3 class="text-center badge badge-pill badge-secondary mx-auto d-block pt-2 pb-2">{{executiveDetails?.designationCategory}}</h3> -->


    </div>
    <div>
        <div *ngFor="let officer of this.utilityService.sortJsonArrayByVisibilityOrder(executiveDetails?.officers)"
             class="col-md-12">
            <div class="card profile-card-3 mb-3">
                <div class="background-block">
                </div>
                <div class="profile-thumb-block">
                    <img src="{{ env.baseURL + '/' + imgBaseUrl + '/' + officer?.img }}" alt="profile-image" class="profile"/>
                </div>
                <div class="card-content">
                    <small class="text-secondary font-weight-bold text-uppercase">{{ officer?.designation }}</small>
                    <h6 class="pb-0 font-weight-bold mb-0">{{officer?.name}}</h6>
                    <small *ngIf="officer?.club" class="d-block text-secondary font-weight-bold mt-0">{{officer?.club}}</small>
                    <small *ngIf="officer?.email" class="d-block text-secondary"><i class="fas fa-envelope mr-1"></i>{{officer?.email}}</small>
                    <small *ngIf="officer?.phone" class="d-block text-secondary"><i class="fas fa-phone mr-1"></i>{{officer?.phone}}</small>
                    <small *ngIf="officer?.address" class="d-block text-secondary"><i class="fas fa-map-marked-alt mr-1"></i>{{officer?.address}}</small>
                    <div class="icon-block">
                        <a *ngIf="officer?.phone" (click)="dial(officer?.phone)"><i class="fas fa-phone"></i></a>
                        <a *ngIf="isEmailComposable && officer?.email" (click)="openEmail(officer?.email)"><i class="far fa-envelope"></i></a>
                        <a *ngIf="officer?.address" (click)="openLocation(officer.address)"><i class="fas fa-directions"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
