.header-logo {
    width: 15vw;
    height: 15vw;
  }

  .vertical-alignment {
    position: relative;
    top: -8vh;
  }

  .message-text{
      font-size: 1.5vh;
      color:rgba(0,0,0,0.7);
  }
  .error-text{
      font-size: 1.5vh;
      color:rgba(248, 2, 2, 0.7);
  }
  
.retry-btn{
    font-size: 1.5vh;
    opacity: 0.7;
}

.update-description{
  color: rgba(0,0,0,0.7);
}