<ion-content [fullscreen]="true">
  <!-- <ion-button (click)="updateData()">Download Data</ion-button> -->
  <div class="row align-items-center h-100 vertical-alignment">
    <div class="col-md-12">
      <div class="mt-3 p-1">
        <img src="../../assets/icon/favicon.png"
                     class="mx-auto d-block header-logo mb-1 mt-3">
      </div>
      <div class="mt-1 mb-2 mx-3">
        <ion-progress-bar  type="indeterminate"></ion-progress-bar>
      </div>
      <div *ngIf="!error.hasError; else errorSection"><p [innerHTML]="displayMsg" class="meriendaOneFont text-center message-text"></p></div>
      <ng-template #errorSection>
        <div class="text-center meriendaOneFont">
          <p [innerHTML]="error.errorMessage" class=" text-center error-text"></p>
          <ion-button class="retry-btn" (click)="retryForUpdate()" color="danger" shape="round" fill="outline" size="small">Retry</ion-button>
          <ion-button *ngIf="showContinueBtn" (click)="continue()" class="retry-btn" color="medium" shape="round" fill="outline" size="small">Continue</ion-button>
        </div>
      </ng-template>
      
    </div>
  </div>
</ion-content>
