.header-logo {
  width: 80px;
  height: 75px;
}

.user-img {
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
}

.wrapper {
  width: 70vw;
  height: 70vw;
  padding: 5vw;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5vw;
}

.social-media {
  a {
    font-size: 18px;
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: none;
    color: rgba(0,0,0, 0.5);
  }
}

.nav-buttons {
  transform: scale(0.7);
  position: fixed;
  //bottom: 50px;
}
