<ion-content [fullscreen]="true">
    <div>
        <div class="w-100 pr-2 pl-2 mb-2 header-top fixed-top">
            <h4 class="text-center mb-3 meriendaOneFont">Notifications</h4>
        </div>
        <div class="scrollable-content" *ngIf="notificationService.notificationsData?.length != 0">
            <p class="pl-3 mb-0 options-info text-center">Click on notification to mark as read.<br>Click on notification icon to mark all as read.</p>
            <div class="notification row" *ngFor="let notification of notificationService.notificationsData" [ngClass]="{ 'read': notification?.read }" (click)="notificationService.markAsRead(notification?.id)">
                <div class="col-3 pr-0">
                    <img class="notification-img" src="{{ (networkService.isConnectedToInternet && notification.icon) ? notification.icon : '../../assets/side-menu/default_notification.png'}}">
                </div>
                <div class="col-9 pl-0">
                    <h6 class="font-weight-bolder mb-0">{{ notification?.title }}</h6>
                    <p class="notification-description mb-0">{{ notification?.description }}</p>
                    <p class="notification-date mb-0">{{ utilityService.getDateTimeFormatted(notification?.datetime) }}</p>
                </div>
            </div>
        </div>
        <div class="scrollable-content" *ngIf="notificationService.notificationsData?.length === 0">
            <div class="notification row read">
                <div class="col-3 pr-0">
                    <ion-icon name="notifications-outline" class="notification-icon notification-logo mt-1"></ion-icon>
                </div>
                <div class="col-9 pl-0">
                    <h6 class="font-weight-bolder mb-0 no-notifications">No received notifications!</h6>
                </div>
            </div>
        </div>
    </div>

    <ion-fab class="nav-buttons back-button" vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button color="light" size="small" (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
