<ion-content [fullscreen]="true">
    <div class="col-md-12 align-items-center">
        <!--            <img src="../../../assets/logos/lion_logo.png" class="mx-auto d-block header-logo mt-5 mb-2">-->
        <div class="mt-5">
            <h5 class="text-center meriendaOneFont">{{ viewData?.title }}</h5>
        </div>
        <img src="{{ env.baseURL + '/' + viewData?.imgBaseUrl + '/' + logoUrl }}" class="mx-auto d-block pl-4 pr-4 mt-2 dp-logo">
        <div>
            <div class="text-center">
<!--                <h6 class="m-0 font-weight-bold">{{ viewData?.title }} Details</h6>-->
<!--                <p class="m-0 tag-line">{{ viewData?.tag_line }}</p>-->
                <h5 class="m-0 font-weight-bold font-italic">{{ viewData?.tag_line }}</h5>
            </div>
            <ion-list class="mb-2">
                <ion-item
                        *ngFor="let property of utilityService.sortJsonArrayByVisibilityOrder(viewData?.properties); let i = index;"
                        (click)="toggleCollapsing(i+1, property)">
                    <ion-avatar slot="start">
                        <img src="{{ env.baseURL + '/' + viewData?.imgBaseUrl + '/' + property?.image }}">
                    </ion-avatar>
                    <ion-label>
                        <h3 class="font-weight-bold">{{ property?.property }}</h3>
                        <p [ngClass]="{ 'invisible' : (i+1) === collapseditemId}"
                           class="sample-description">{{ property?.description }}</p>
                        <app-expandable [expanded]="(i+1) === collapseditemId" class="description"
                                        [content]="property?.description">
                        </app-expandable>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>
