<ion-content [fullscreen]="true">
  <div class="row align-items-center h-100 vertical-alignment">
      <div class="col-md-12">
          <div class="fixed">
              <div class="mt-3 p-4">
                  <img src="../../assets/tile-contents/icons\district_president_logo.png"
                       class="mx-auto d-block header-logo mb-1 mt-3">
                  <h5 class="text-center">{{ viewData.title }}</h5>
              </div>    
          </div>
          <div class="sroll_content">
              <div [innerHTML]="viewData.content" class="text-center mx-auto d-block pr-2 pl-2 content"></div>
          </div>    
          
      </div>
  </div>
</ion-content>
<!-- <app-audio-button [audioFileUrl]="'../../assets/tile-contents/mp3/leo_history.mp3'"></app-audio-button> -->
