ion-content{
    //--ion-background-color: #fff;
    //--background: url('../../../assets/tiles/national_anthem.png') no-repeat center center / cover;
  }
  
  .header-logo {
    width: 35vw;
    height: 25vw;
  }
  
  .content {
    font-size: 2vh;
  }
  
  .vertical-alignment {
    position: relative;
    top: -8vh;
  }
  