<ion-header>
  <ion-toolbar>
    <ion-title>{{clubDetails.clubName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  //styles not add yet

  <h2>President</h2>
  <p>name : {{clubDetails.president.name}}</p>
  <p>email : {{clubDetails.president.email}}</p>
  <p>address : {{clubDetails.president.address}}</p>
  <p>phone : {{clubDetails.president.phone}}</p>

  <h2>Vice President</h2>
  <p>name : {{clubDetails.vicePresident.name}}</p>
  <p>email : {{clubDetails.vicePresident.email}}</p>
  <p>address : {{clubDetails.vicePresident.address}}</p>
  <p>phone : {{clubDetails.vicePresident.phone}}</p>

  <h2>Secretary</h2>
  <p>name : {{clubDetails.secretary.name}}</p>
  <p>email : {{clubDetails.secretary.email}}</p>
  <p>address : {{clubDetails.secretary.address}}</p>
  <p>phone : {{clubDetails.secretary.phone}}</p>

  <h2>treasurer</h2>
  <p>name : {{clubDetails.treasurer.name}}</p>
  <p>email : {{clubDetails.treasurer.email}}</p>
  <p>address : {{clubDetails.treasurer.address}}</p>
  <p>phone : {{clubDetails.treasurer.phone}}</p>

  <h2>Leo Advisor</h2>
  <p>name : {{clubDetails.leoAdvisor.name}}</p>
  <p>email : {{clubDetails.leoAdvisor.email}}</p>
  <p>address : {{clubDetails.leoAdvisor.address}}</p>
  <p>phone : {{clubDetails.leoAdvisor.phone}}</p>

</ion-content>
