<ion-content [fullscreen]="true">
    <div class="col-md-12 align-items-center" *ngIf="guestIntroData">
        <div class="fixed-top fixed-head">
            <img src="{{ env.baseURL + '/' + guestIntroData['logo'] }}" class="mx-auto d-block header-logo mt-5 mb-2">
            <div>
                <h4 class="text-center mb-3 meriendaOneFont">{{ guestIntroData['title'] }}</h4>
            </div>

            <!-- Search bar -->
            <div class="pl-2 pr-2 pt-0">
                <ion-searchbar class="pt-0" showCancelButton="focus" (ionChange)="filterData()"
                               [(ngModel)]="searchKeyword"
                               placeholder="Search by Name"></ion-searchbar>
            </div>
        </div>

        <!-- guest data content -->
        <div class="scrollable-content pt-4">
            <div class="notification row mb-1 ml-0"
                 *ngFor="let guestIntro of utilityService.sortJsonArrayByVisibilityOrder(filteredGuestIntroData)"
                 (click)="viewIntro(guestIntro)">
                    <div class="col-3 pr-0">
                        <img class="notification-img" src="{{ env.baseURL + '/' + getGuestImg(guestIntro) }}">
                    </div>
                    <div class="col-9 pl-0">
                        <h6 class="font-weight-bolder mb-0 mt-2">{{ guestIntro['name'] }}</h6>
                        <p class="notification-description mb-0">{{  guestIntro['designation'] }}</p>
                    </div>
            </div>

            <!-- guest not found msg -->
            <div class="not-found-wrapper text-center" *ngIf="filteredGuestIntroData?.length === 0">
                <img src="../../assets/logos/gray_leo_logo.png" class="not-found-logo">
                <p class="text-center text-secondary not-found-text">Oops! Name not found.</p>
            </div>
        </div>
    </div>
</ion-content>
