<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" value="en">
    <ion-segment-button value="en">
      <ion-label>English</ion-label>
    </ion-segment-button>
    <ion-segment-button value="si">
      <ion-label>සිංහල</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="p-1">
    <h5 class="text-center">{{filteredData?.title}}</h5>
  </div>
  <div [innerHTML]="filteredData?.content" class="mt-2 p-3 content"></div>

</ion-content>
