//ion-tab-bar, ion-tab-button, ion-tab-button .button-native{
//    border-top-left-radius: 15px!important;
//    border-top-right-radius: 15px!important;
//}

ion-tab-button {
    --color: lightgray;
    --color-selected: #1a4b5e;
}

.home-btn {
    position: fixed;
    bottom: -0.5px;

    .home-button {
        transform: scale(1.5);
        --box-shadow:none;
        --background: white!important;
        //--background-hover: white!important;
        --ripple-color: #1a4b5e;
        //color: #1a4b5e;
        --border-color:rgba(0,0,0,0.07);
        --border-width:0.5px;
        --border-style:solid;

        ion-icon {
            //color: #1a4b5e;
            color: lightgray;
            transform: scale(1.4);
        }
    }
}

.nav-buttons {
    transform: scale(0.7);
    position: fixed;
    //bottom: 50px;
}

.footer-line {
    font-size: 7px;
    position: absolute;
    bottom: 5px;
    line-height: 10px;
    color: darkgray;

    b {
        font-size: 8px;
    }
}

.footer-line-img {
    width: 20px;
    height: 20px;
    position: relative;
    top: -2px;
}

.social-media {
    font-size: 10px;
    a {
        font-size: 25px;
        margin-left: 8px;
        margin-right: 8px;
        text-decoration: none;
        color: rgba(0,0,0, 0.5);
    }
}

.social-media:hover {
    color: #1a4b5e;
}

.clickable {
    pointer-events: auto !important;
}

.menu-close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: darkgray;
    opacity: 0.5;
}

.menu-close-button:hover {
    color: #e57373;
}

.notification-count{
    position: relative;
    top: -2.5px;
}

.notification-button {
    right: 55px;
    transform: scale(0.7);
}

.notification-button ion-fab-button ion-icon {
    position: relative;
    z-index: 9000;
}

.one_digit_bell {
    left: -9px;
}

.two_digits_bell {
    left: -11.75px;
}

.notification-count-btn {
    position: relative;
    left: 22px;
    z-index: 999999;
}

.notify {
    animation: ring 1s ease;
}

@keyframes ring {
    0% {
        transform: rotate(35deg);
    }
    12.5% {
        transform: rotate(-30deg);
    }
    25% {
        transform: rotate(25deg);
    }
    37.5% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(15deg);
    }
    62.5% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
