<ion-content id="content">
<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="executive" (click)="routeOther()">
            <ion-icon src="../../assets/tabs/executive.svg"></ion-icon>
            <ion-label>Executive</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="home" class="home" (click)="routeHome()">
            <ion-icon src="../../assets/tabs/home.svg"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="clubs" (click)="routeOther()">
            <ion-icon src="../../assets/tabs/clubs.svg"></ion-icon>
            <ion-label>Clubs</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>

<ion-fab vertical="bottom" horizontal="center" class="home-btn" slot="fixed">
    <ion-fab-button class="home-button" (click)="routeHome()">
        <ion-icon [ngStyle]="{'color': isHome? '#1a4b5e': 'lightgray'}"  src="../../assets/tabs/home.svg"></ion-icon>
    </ion-fab-button>
</ion-fab>

<!--Top navigation buttons-->
<!--<ion-fab class="nav-buttons" vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="light" size="small">
        <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
</ion-fab>-->

<ion-fab class="nav-buttons" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="light" size="small" (click)="toggleMenu()">
        <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
</ion-fab>

<!--Side menu-->
<ion-menu side="end" menuId="sideMenu" contentId="content" >
    <ion-content>
        <ion-list>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
</ion-content>
