<ion-content>
  <div class="col-md-12 align-items-center">
    <img src="../../../assets/logos/lion_logo.png" class="mx-auto d-block header-logo mt-5 mb-2">
    <div>
      <h4 class="text-center mb-3">{{ viewData?.designation }}</h4>
    </div>
    <div>
      <img src="{{ env.baseURL + '/' + viewData?.imgBaseUrl + '/' + viewData?.image }}"
      class="mx-auto d-block mb-1 officer-image">
    </div>
    <div class="text-center officer-name">{{ viewData?.name }}</div>
    <div [innerHTML]="viewData?.description" class="description text-justify mb-4">
    </div>
  </div>
</ion-content>
