.tile {
  background-color: white;
  // width: 100px;
  // height: 100px;
  //-webkit-box-shadow: -3px -5px 10px -3px rgba(0,0,0,1);
  //-moz-box-shadow: -3px -5px 10px -1px rgba(0,0,0,1);
  width: 100%;
  height: 200px;
  max-height: 200px;
  box-shadow: -3px -3px 10px -5px rgba(0,0,0,1);
  border-radius: 15px;
  margin: auto;
  // margin-top: 10px;
  text-align:center;
  padding: 8px;
}
.tile-sm{
  width: 100%;
  height: 200px;
  max-height: 200px;
  box-shadow: -3px -3px 10px -5px rgba(0,0,0,1);
  border-radius: 15px;
  margin: auto;
  // margin-top: 10px;
  text-align:center;
  padding: 8px;
}
.tile-sm-single{
  width: 50%;
  height: calc(#{width} * 1.778);
  max-height: calc(#{width} * 1.778);
  //box-shadow: -3px -3px 10px -5px rgba(0,0,0,1);
  //border-radius: 15px;
  //margin: auto;
  //margin-top: 10px;
  //text-align:center;
  //padding: 2px;

}
.inner-tile{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border-style: solid;
  border-color:rgba(0,0,0,0.08);
  border-width: 1px;
  background-position: center;
  display: table;
}

.tile-horizontal{
  background-color: white;
  width: 100%;
  height: 100px;
  max-height: 100px;
  box-shadow: -3px -3px 10px -5px rgba(0,0,0,1);
  border-radius: 15px;
  margin: auto;
  // margin-top: 10px;
  text-align: center;
  padding: 8px;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
  transition: background 0.8s;
}

.tile-head{
  font-family: MeriendaOne;
  // color: white;
  // text-shadow: 0 0 5px black;
  display: table-cell;
  vertical-align: middle;
}

.tile-content{
  font-family: MeriendaOne;
  text-align: left;
  font-size: 0.8em;
  padding-bottom: 10px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.page-header {
  height: 150px;
  width: 100vw;
  background-color: #1e2023;
}

.bg-img{
  background-position:center;
	background-repeat:no-repeat;
  background-size:cover;
 
}
.left-align{
  text-align: left !important;
}

.designation{
  font-family: MeriendaOne;
  font-size: 1.1em;
  text-align: left !important;
  position: relative;
  top: 40px !important;
  left: -5px;
  display: table-cell;
  color: rgb(255, 248, 248) ;
  text-shadow: 2px 2px 4px #000000;
}

.right-align{
  text-align: right !important;
  padding-bottom: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding :10px;
}
.ripple {
  background-position: center;
  
}


.national_anthem_tile {
  background-image: url("../../assets/tiles/national_anthem.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(140,22,61,1);
    background-color: rgba(255,255,255,0.09);
  }

  .tile-head {
    color: rgba(140,22,61,1) !important;
  }
}

.pledge_of_allegiance_tile {
  background-image: url("../../assets/tiles/pledge_of_alligance.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(0,105,170,1);
    background-color: rgba(255,255,255,0.09);
  }

  .tile-head {
    color: rgba(0,105,170,1) !important;
  }
}

.leo_pledge_tile {
  background-image: url("../../assets/tiles/leo_pledge.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(26,75,94,1);
    background-color: rgba(255,255,255,0.09);
  }

  .tile-head {
    color: rgba(26,75,94,1) !important;
  }
}

.environmental_pledge_tile {
  background-image: url("../../assets/tiles/environmental_pledge.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(17,55,40,1);
    background-color: rgba(255,255,255,0.09);
  }

  .tile-head {
    color: rgba(17,55,40,1) !important;
  }
}

.leo_history_tile {
  background-image: url("../../assets/tiles/leo_history.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgb(245, 136, 13);
    background-color: rgba(255,255,255,0.09);
  }

  .tile-head {
    color: rgb(83, 5, 5) !important;
  }
}

.leo_map_tile {
  background-image: url("../../assets/tiles/leo_map.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgb(215, 219, 4);
    background-color: rgba(255,255,255,0.09);
  }

  .tile-head {
    color: rgb(110, 116, 3) !important;
  }
}

.dp_logo_tile {
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgb(131, 0, 178);
    background-color: rgba(255,255,255,0.09);
  }

  .tile-head {
    color: rgb(81, 1, 64) !important;
  }
}

.region_and_zone_tile{
  background-image: url("../../assets/tiles/region_and_zone.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(49, 0, 112,1);
    background-color: rgba(255,255,255,0.2);
  }

  .tile-head {
    color: rgb(23, 1, 59) !important;
  }
}

.district_calendar_tile{
  background-image: url("../../assets/tiles/district_calendar.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(49, 0, 112,1);
    background-color: rgba(255,255,255,0.2);
  }

  .tile-head {
    color: rgb(23, 1, 59) !important;
  }
}


.leo_club_constitution_tile{
  background-image: url("../../assets/tiles/leo_club_constitution.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(49, 0, 112,1);
    background-color: rgba(255,255,255,0.2);
  }

  .tile-head {
    color: rgb(23, 1, 59) !important;
  }
}

.club_officers_instalation_tile{
  background-image: url("../../assets/tiles/club_officer_instalation.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(49, 0, 112,1);
    background-color: rgba(255,255,255,0.2);
  }

  .tile-head {
    color: rgb(23, 1, 59) !important;
  }
}

.new_members_initiation_tile{
  background-image: url("../../assets/tiles/new_member_initiation.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(49, 0, 112,1);
    background-color: rgba(255,255,255,0.2);
  }

  .tile-head {
    color: rgb(23, 1, 59) !important;
  }
}

.club_protocol_tile{
  background-image: url("../../assets/tiles/club_protocol.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(49, 0, 112,1);
    background-color: rgba(255,255,255,0.2);
  }

  .tile-head {
    color: rgb(23, 1, 59) !important;
  }
}

.general_meeting_agenda_tile{
  background-image: url("../../assets/tiles/general_meeting_agenda.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(49, 0, 112,1);
    background-color: rgba(255,255,255,0.2);
  }

  .tile-head {
    color: rgb(23, 1, 59) !important;
  }
}

.board_meeting_agenda_tile{
  background-image: url("../../assets/tiles/board_meeting_agenda.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(49, 0, 112,1);
    background-color: rgba(255,255,255,0.2);
  }

  .tile-head {
    color: rgb(23, 1, 59) !important;
  }
}

.editors_note_tile{
  background-image: url("../../assets/tiles/editors_note.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(49, 0, 112,1);
    background-color: rgba(255,255,255,0.2);
  }

  .tile-head {
    color: rgb(23, 1, 59) !important;
  }
}
