.tile {
  background-color: white;
  // width: 100px;
  // height: 100px;
  //-webkit-box-shadow: -3px -5px 10px -3px rgba(0,0,0,1);
  //-moz-box-shadow: -3px -5px 10px -1px rgba(0,0,0,1);
  width: 100%;
  height: 200px;
  max-height: 200px;
  box-shadow: -3px -3px 10px -5px rgba(0,0,0,1);
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
  text-align:center;
  padding: 8px;
}
.tile-sm{
  width: 100%;
  height: 150px;
  max-height: 200px;
  box-shadow: -3px -3px 10px -5px rgba(0,0,0,1);
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
  text-align:center;
  padding: 8px;
}
.tile-sm-single{
  width: 50%;
  height: calc(#{width} * 1.778);
  max-height: calc(#{width} * 1.778);
  //box-shadow: -3px -3px 10px -5px rgba(0,0,0,1);
  //border-radius: 15px;
  //margin: auto;
  //margin-top: 10px;
  //text-align:center;
  //padding: 2px;

}
.inner-tile{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border-style: solid;
  border-color:rgba(0,0,0,0.08);
  border-width: 1px;
  background-position: center;
  display: table;
}

.tile-horizontal{
  background-color: white;
  width: 100%;
  height: 100px;
  max-height: 100px;
  box-shadow: -3px -3px 10px -5px rgba(0,0,0,1);
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  padding: 8px;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.tile-head{
  font-family: 'Open Sans', Arial, sans-serif;
  // color: white;
  // text-shadow: 0 0 5px black;
  display: table-cell;
  vertical-align: middle;
}

.tile-content{
  text-align: left;
  font-size: 0.7em;
  padding-bottom: 10px;
  color: grayscale($color: #706f6f);
}

.page-header {
  height: 150px;
  width: 100vw;
  background-color: #1e2023;
}

.bg-img{
  background-position:center;
	background-repeat:no-repeat;
  background-size:cover;
 
}
.left-align{
  text-align: left !important;
}
.right-align{
  text-align: right !important;
  padding-bottom: 5px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding :5px;
}

.national_anthem_tile {
  background-image: url("../../assets/tiles/national_anthem.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(140,22,61,1);
    background-color: rgba(255,255,255,0.09);
  }

  .tile-head {
    color: rgba(140,22,61,1) !important;
  }
}

.pledge_of_allegiance_tile {
  background-image: url("../../assets/tiles/pledge_of_alligance.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(0,105,170,1);
    background-color: rgba(255,255,255,0.09);
  }

  .tile-head {
    color: rgba(0,105,170,1) !important;
  }
}

.leo_pledge_tile {
  background-image: url("../../assets/tiles/leo_pledge.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(26,75,94,1);
    background-color: rgba(255,255,255,0.09);
  }

  .tile-head {
    color: rgba(26,75,94,1) !important;
  }
}

.environmental_pledge_tile {
  background-image: url("../../assets/tiles/environmental_pledge.png");
  background-position: center;
  background-size: cover;
  .inner-tile{
    border-color: rgba(17,55,40,1);
    background-color: rgba(255,255,255,0.09);
  }

  .tile-head {
    color: rgba(17,55,40,1) !important;
  }
}

.body{
  position: fixed;
}


.otherContent{
  width: 100%;
  margin-top:15px;
  height: 168%;
  z-index:0;
  position:absolute;
  overflow: auto;
}