<ion-content [fullscreen]="true">
  <div class="header_home">
    <div class="w-100 pr-2 pl-2 mt-5 mb-2 header-top">
      <img class="mx-auto d-block" src="../../assets/tabs/headers/home.png">
    </div>
    <div class="scrollable-content_home">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="tile center ripple-parent national_anthem_tile" (click)="navigateToNationalAnthem(nationalAnthem)">
              <div class="inner-tile ion-padding text-secondary">
                <div class="tile-head font-weight-bold">
                  {{ nationalAnthem?.en.title }}
                </div>
              </div>
              <!-- <div class="tile-content ion-padding-top ion-padding-bottom" [innerHTML]="nationalAnthem?.en.content"></div> -->
            </div>
          </ion-col>
          <ion-col>
            <div class="tile center ripple-parent pledge_of_allegiance_tile"
              (click)="navigateToPledgeOfAllegiance(pledgeOfAllegiance)">
              <div class="inner-tile ion-padding">
                <div class="tile-head font-weight-bold text-secondary">{{ pledgeOfAllegiance?.en.title }}</div>
                <!-- <div class="tile-content ion-padding-top ion-padding-bottom" [innerHTML]="pledgeOfAllegiance?.en.content"> -->
                <!-- </div> -->
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="tile center ripple-parent leo_pledge_tile" (click)="navigateToLeoPledge(leoPledge)">
              <div class="inner-tile ion-padding">
                <div class="tile-head text-secondary font-weight-bold">{{ leoPledge?.en.title }}</div>
                <!-- <div class="tile-content ion-padding-top ion-padding-bottom" [innerHTML]="leoPledge?.en.content">
          </div> -->
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="tile center ripple-parent environmental_pledge_tile"
              (click)="navigateToEnvironmentPledge(environmantalPledge)">
              <div class="inner-tile ion-padding">
                <div class="tile-head text-secondary font-weight-bold animate__bounce">
                  {{ environmantalPledge?.en.title }}</div>
              </div>
            </div>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <div class="tile center ripple-parent leo_history_tile" (click)="navigateToLeoHistory(leoHistory)">
              <div class="inner-tile ion-padding">
                <div class="tile-head text-secondary font-weight-bold">{{ leoHistory?.title }}</div>
                <!-- <div class="tile-content ion-padding-top ion-padding-bottom" [innerHTML]="leoPledge?.en.content">
          </div> -->
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="tile center ripple-parent leo_map_tile"
              (click)="navigateToLeoMap(leoMap)">
              <div class="inner-tile ion-padding">
                <div class="tile-head text-secondary font-weight-bold animate__bounce">
                  {{ leoMap?.title}}</div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="tile center ripple-parent dp_logo_tile" (click)="navigateToDPLogo(districtPresidentLogo)">
              <div class="inner-tile ion-padding">
                <div class="tile-head text-secondary font-weight-bold">{{ districtPresidentLogo?.title}}</div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="tile center ripple-parent council_chairman_tile" (click)="navigateToMultipleCouncilChairman(multipleOfficers?.multipleCounsilChairman)">
              <div class="inner-tile ion-padding">
                <div class="designation  font-weight-bold">{{multipleOfficers?.multipleCounsilChairman.designation}}</div>
                <div class="tile-content right-align ">{{multipleOfficers?.multipleCounsilChairman.name}} </div>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="tile center ripple-parent district_governer_tile"
              (click)="navigateToDistrictGoverner(multipleOfficers?.districtGovernor)">
              <div class="inner-tile ion-padding">
                <div class="designation font-weight-bold">{{multipleOfficers?.districtGovernor.designation}}</div>
                <div class="tile-content right-align ">{{multipleOfficers?.districtGovernor.name}} </div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="tile center ripple-parent dp_tile" (click)="navigateToDistrictPresident(multipleOfficers?.districtPresident)">
              <div class="inner-tile ion-padding">
                <div class="designation font-weight-bold">{{multipleOfficers?.districtPresident.designation}}</div>
                <div class="tile-content right-align ">{{multipleOfficers?.districtPresident.name}} </div>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="tile center ripple-parent mdp_tile"
              (click)="navigateToMultipleDistrictPresident(multipleOfficers?.MultipleDistrictPresident)">
              <div class="inner-tile ion-padding">
                <div class="designation font-weight-bold">{{multipleOfficers?.MultipleDistrictPresident.designation}}</div>
                <div class="tile-content right-align ">{{multipleOfficers?.MultipleDistrictPresident.name}} </div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="tile center ripple-parent immediate_past_dp_tile" (click)="navigateToImmediatePasetDistrictPresident(multipleOfficers?.immediatePastDistrictPresident)">
              <div class="inner-tile ion-padding">
                <div class="designation font-weight-bold">{{multipleOfficers?.immediatePastDistrictPresident.designation}}</div>
                <div class="tile-content right-align ">{{multipleOfficers?.immediatePastDistrictPresident.name}} </div>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="tile center ripple-parent district_vp_tile"
              (click)="navigateToDistrictVicePresident(multipleOfficers?.districtVicePresident)">
              <div class="inner-tile ion-padding">
                <div class="designation font-weight-bold">{{multipleOfficers?.districtVicePresident.designation}}</div>
                <div class="tile-content right-align ">{{multipleOfficers?.districtVicePresident.name}} </div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="tile-sm tile-sm-single center ripple-parent district_chairman_tile" (click)="navigateToDistrictChairman(multipleOfficers?.districtChairman)">
              <div class="inner-tile ion-padding">
                <div class="designation font-weight-bold">{{multipleOfficers?.districtChairman.designation}}</div>
                <div class="tile-content right-align ">{{multipleOfficers?.districtChairman.name}} </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      
      </ion-grid>
    </div>
  </div>

</ion-content>
