.not-found-wrapper{
  margin-top: 20vh;
}
.not-found-logo {
  width: 15vw;
  height: 15vw;
}

.not-found-text {
  font-size: 12px;
  font-family: 'Open Sans', Arial, sans-serif;
}
.body{
  position: fixed;
}


.otherContent{
  width: 100%;
  margin-top:15px;
  height: 100%;
  z-index:0;
  position:absolute;
  overflow: auto;
}