<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">Clubs</ion-title> -->
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar showCancelButton="focus" (ionInput)="getItems($event)"></ion-searchbar>

 

  <ion-list>
    <ion-item *ngFor="let club of clubData" (click)="gotoClubFullDetails(club)">
      <ion-avatar item-start>
        <ion-img [src]="club.img"></ion-img>
      </ion-avatar>
      <ion-label>{{club.clubName}}</ion-label>
    </ion-item>
  </ion-list>
  <!-- Searchbar disabled -->


 

</ion-content>
