.not-found-wrapper{
  margin-top: 20vh;
}
.not-found-logo {
  width: 15vw;
  height: 15vw;
}

.not-found-text {
  font-size: 12px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.clubs-count {
  font-size: 14px;
  font-weight: bold;
  color: #1a4b5e!important;
  position: relative;
  right: 20px!important;
  padding: 0!important;
  margin-top: -5px!important;
}
