.map-img {
  width: 35vh;
  height: auto;
}

.header-logo {
  margin-top: 10vh;
  width: 25vw;
  height: 25vw;
}

.content {
  font-size: 2vh;
  margin-bottom: 10vh;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.flex-container > div {
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: 3.5px;
  border: solid 1px black;
  text-align: center;
  font-size: 8px;
  font-weight: bolder;
  border-radius: 50%;
  cursor: pointer;
}

.a1 {
  background-color: #9e75b5;
}

.a2 {
  background-color: #bac4e3;
}

.b1 {
  background-color: white;
}

.b2 {
  background-color: #b5dbad;
}

.c1 {
  background-color: #fff200;
}

.c2 {
  background-color: #fcba12;
}

.all {
  background-color: #ef5350;
}

.selected {
  transform: scale(1.25);
}
